*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------INDEX------------------*/

html{
    scroll-behavior: smooth;
}

/*Encabezado*/
.encabezadoInicio{
    width: 100%;
    height: 600px;
    background-image: url(img/miembros.jpg);
    background-size: cover;
    background-attachment: fixed;
/*  font-family: 'Roboto', regular;*/
    font-family: 'Louis George Café', regular;
}

.encabezado{
    width: 100%;
    height: 250px;
    font-family: 'Roboto', regular;
    background-image: url(img/portada4.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.encabezado> nav > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    font-style: italic;
    font-family: 'Louis George Café', regular;
    font-size: 20px;
    font-weight: bold;
}

.encabezado> nav > a:hover{
    text-decoration:wavy;
    color: rgb(226, 226, 226);
}



.logo>img{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    transition: all 1.5s;
}

nav{
    padding-top: 40px; /*60px*/
    padding-right: 40px;
    float: right;
    display: flex;
}

nav > a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    font-style: italic;
    font-family: 'Louis George Café', regular;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}

.logo>img:hover{
/*    transform: scale(1.2);*/
/*    transition: all 0.5s;*/
    transform: rotate(360deg);
    transition: all 1.5s;
}

nav > a:hover{
    text-decoration:wavy;
    color: rgb(165, 165, 165);
/*  transform: translateY(-10);*/
    font-size: 25px;
    transition: all 0.5s;
}
/*
.wave{
	position: absolute;
	bottom: 0px;
	width: 100%;
}*/


/*CONTENIDO*/
/*
#grillaIndex{
    display: grid;
    grid-template-areas: "izq der"
                         "izq der";
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
#izquierda{
    grid-area: izq;
    background-color: #c23284;
}
#derecha{
    grid-area: der;
    background-color: cadetblue;
}
.bordeGrillaIndex{
    border: 5px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.contenedorMulti{
    width: 100%;
    height: 1040px;
    box-sizing: border-box;
    padding-top: 80px;
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #ffffff 0%, #b7b7b7 24%, #b7b7b7 49%, #b7b7b7 75%, #ffffff 100%);
}

.primerParteIndex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.infoIndex{
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
}

.infoIndex:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}

#tituloIndex{
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
    margin-top: 10px;
    margin-bottom: 30px;
}
.infoIndex>p{
    font-size: 23px;
    font-family: 'Indie Flower', cursive;
}

.spotify{
    float: right;
    width: 600px;
    height: 400px;
    transition: all 0.5s;
}

.spotify:hover{
    transition: all 0.5s;
    box-shadow: 15px 15px 12px 0px rgba(53, 53, 53, 0.75);
}

.multimedia{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.videos--posicion{
    border-radius: 12px;
    width: 600px;
    height: 400px;
    transition: all 1.5s;
}

.videos--posicion:hover{
    transition: all 0.5s;
    box-shadow: 15px 15px 12px 0px rgba(53, 53, 53, 0.75);
}

/*Pie de Pagina*/
.pieDePagina{
    width: 100%;
    height: 130px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='130' preserveAspectRatio='none' viewBox='0 0 1442 130'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='1442' height='130' x='0' y='0' fill='rgba(22%2c 22%2c 22%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c452.347C82.143%2c437.944%2c137.637%2c365.934%2c214.726%2c334.12C315.509%2c292.527%2c459.367%2c328.022%2c520.309%2c237.617C579.156%2c150.32%2c510.589%2c32.597%2c487.176%2c-70.045C465.643%2c-164.443%2c448.084%2c-260.383%2c389.183%2c-337.229C328.058%2c-416.976%2c248.014%2c-488.951%2c149.808%2c-510.198C53.941%2c-530.939%2c-38.597%2c-479.529%2c-132.136%2c-450.015C-223.669%2c-421.134%2c-325.378%2c-408.798%2c-391.637%2c-339.356C-459.077%2c-268.676%2c-471.691%2c-166.158%2c-493.782%2c-70.995C-517.861%2c32.732%2c-570.557%2c143.501%2c-526.198%2c240.307C-481.843%2c337.104%2c-368.021%2c379.185%2c-269.263%2c418.981C-183.643%2c453.483%2c-90.923%2c468.289%2c0%2c452.347' fill='%230e0e0e'%3e%3c/path%3e%3cpath d='M1442 649.382C1544.797 659.773 1656.979 655.343 1740.753 594.8679999999999 1823.343 535.248 1847.439 426.823 1882.69 331.256 1915.46 242.417 1941.532 153.248 1938.561 58.605000000000004 1935.315-44.803 1927.596-154.144 1864.872-236.421 1800.6779999999999-320.625 1694.749-355.685 1595.208-391.779 1489.818-429.994 1376.108-491.20899999999995 1271.201-451.688 1166.722-412.328 1123.528-290.714 1068.73-193.44 1023.354-112.89099999999999 1008.028-24.671999999999997 980.8679999999999 63.699 947.9259999999999 170.881 848.809 277.69399999999996 892.147 381.11 935.231 483.918 1079.513 489.274 1179.696 538.153 1266.814 580.658 1345.557 639.633 1442 649.382' fill='%231e1e1e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1442' height='130' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
}

.redesSociales{
    display: flex;
    justify-content: center;
}

.redesSociales>a>i{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    transition: all 0.5s;
}
.redesSociales>a>i:hover{
    font-size: 40px;
    transition: all 0.5s;
}  


.redesSociales>a>#facebook:hover{
    color: rgb(66, 103, 178);
}
.redesSociales>a>#instagram:hover{
    color: #c23284;
}
.redesSociales>a>#twitter:hover{
    color: rgb(8, 129, 185);
}
.redesSociales>a>#youtube:hover{
    color: rgb(185, 10, 10);
}

.pieDePagina> p{
    font-family: 'Coolvetica', regular;
    color: white;
    padding-top: 10px;
}

.subir{
    height: 40px;
    width: 40px;
    color: white;
    background-color: black;
    border: 5px white solid;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    box-shadow: 0 0 10px rgb(107, 107, 107);
    transition: all 0.5s;
}
.subir>i{
    color: white;
}

.subir:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

/*   @MEDIA QUERY */

/*
@media only screen and (min-width:500px) and (max-width:686px){
    
}*/

@media only screen and (max-width:1300px){
    
    .primerParteIndex{
        margin-bottom: 40px;
    }
    .infoIndex{
        margin-bottom: 40px;
    }
    #video1{
        margin-bottom: 40px;
    }
    #video2{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width:1200px){
    .contenedorMulti{
        height: 1840px;
    }
}
@media only screen and (max-width:1000px){
    .encabezadoInicio> nav > a{
        font-size: 16px;
        height: 550px;
    }
}
@media only screen and (max-width:800px){
    .contenedorMulti{
        height: 1552px;
        padding-top: 60px;
    }
    .infoIndex{
        width: 500px;
        height: 333px;
    }
    .spotify{
        width: 500px;
        height: 333px;
    }
    .videos--posicion{
        width: 500px;
        height: 333px;
    }
    #tituloIndex{
        font-size: 46px;
        margin-bottom: 20px;
    }
    .infoIndex>p{
        font-size: 19px;
    }
}
@media only screen and (max-width:686px){
    .encabezadoInicio{
        width: 100%;
        height: 300px;
        background-image: url(img/miembros.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    /*  font-family: 'Roboto', regular;*/
        font-family: 'Louis George Café', regular;
    }
}
@media only screen and (max-width:540px){
    .contenedorMulti{
        height: 1274px;
        padding-top: 50px;
    }
    .infoIndex{
        width: 400px;
        height: 266px;
    }
    .spotify{
        width: 400px;
        height: 266px;
    }
    .videos--posicion{
        width: 400px;
        height: 266px;
    }
    #tituloIndex{
        font-size: 40px;
        margin-bottom: 15px;
    }
    .infoIndex>p{
        font-size: 15px;
    }
}
@media only screen and (min-width:320px) and (max-width:420px){
    .contenedorMulti{
        height: 1110px;
        padding-top: 50px;
    }
    .infoIndex{
        width: 300px;
        height: 300px;
    }
    .spotify{
        width: 300px;
        height: 200px;
    }
    .videos--posicion{
        width: 300px;
        height: 200px;
    }
    #tituloIndex{
        font-size: 40px;
        margin-bottom: 15px;
    }
    .infoIndex>p{
        font-size: 15px;
    }
}

/*------------------BIOGRAFÍA------------------*/
#grillaBio{
    display: grid;
    grid-template-areas: "foto1  texto1 texto1"
                         "texto2 texto2  foto2"
                         "foto3  texto3 texto3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    margin: 60px;
    margin-top: 30px;
    font-family: 'Louis George Café', regular;
    grid-row-gap: 18px;
    grid-column-gap: 10px;
}
/*
.borderBio{
    border: 5px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
#imgBio1{
    grid-area: foto1;
    background-image: url(img/portada9.jpg);
    background-size: cover;
    background-position: center;
}
#imgBio2{
    grid-area: foto2;
    background-image: url(img/portada2.jpg);
    background-size: cover;
    background-position: center;
}
#imgBio3{
    grid-area: foto3;
    background-image: url(img/portada7.jpg);
    background-size: cover;
    background-position: top;
}
.imagenesBio{
    margin: 20px;
    box-shadow: 10px 10px 7px 0px rgba(53, 53, 53, 0.75);
    border-radius: 5px;
}

#textoBio1{
    grid-area: texto1;
}

#textoBio2{
    grid-area: texto2;
}

#textoBio3{
    grid-area: texto3;
}
.textoBio{
    font-size: 20px;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    overflow:scroll;
    box-shadow: 10px 10px 7px 0px rgba(53, 53, 53, 0.75);
    text-align: left;
}
#tituloBio{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-top: 30px;
}

/* MEDIA QUERIES */
@media only screen and (max-width:1000){
    #grillaBio{
        grid-template-areas:"foto1  texto1"
                            "texto2 texto1"
                            "texto2  foto2"
                            "texto2 texto3"
                            "foto3  texto3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5,200px);
    }
}

/*------------------MIEMBROS------------------*/
#tituloMiembros{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-top: 30px;
}

#grillaMiembros{
    display: grid;
    grid-template-areas: "foto1   foto2   foto3"
                         "texto1  texto2  texto3"
                         "foto4   foto5   foto6"
                         "texto4  texto5  texto6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 40px 300px 40px;
    margin: 120px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Louis George Café', regular;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
}
.borderMiembros{
    transition: all 1s;
}
.borderMiembros:hover{
    transform: scale(1.05);
    transition: all 1s;
}

#imgMiembro1{
    grid-area: foto1;
    background-image: url(img/davegrohl.jpg);
    background-size: cover;
    background-position: center;
}
#imgMiembro2{
    grid-area: foto2;
    background-image: url(img/natemendel.jpg);
    background-size: cover;
    background-position: center;
}
#imgMiembro3{
    grid-area: foto3;
    background-image: url(img/taylorhawkins.jpg);
    background-size: cover;
    background-position: center;
}
#imgMiembro4{
    grid-area: foto4;
    background-image: url(img/patsmear.jpg);
    background-size: cover;
    background-position: top;
}
#imgMiembro5{
    grid-area: foto5;
    background-image: url(img/chrisshiflett.jpg);
    background-size: cover;
    background-position: center;
}
#imgMiembro6{
    grid-area: foto6;
    background-image: url(img/ramijaffee.jpg);
    background-size: cover;
    background-position: center;
}

.nombreMiembro{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    background-color: rgb(142, 157, 184);
    margin-left: 60px;
    margin-right: 60px;
}

#nombMiem1{
    grid-area: texto1;
}
#nombMiem2{
    grid-area: texto2;
}
#nombMiem3{
    grid-area: texto3;
}
#nombMiem4{
    grid-area: texto4;
}
#nombMiem5{
    grid-area: texto5;
}
#nombMiem6{
    grid-area: texto6;
}

/*  MEDIA QUERIES  */
@media only screen and (max-width:1114px){
    .nombreMiembro{
        font-size: 16px;
    }
}
@media only screen and (max-width:1000px){
    #grillaMiembros{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 40px 250px 40px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .encabezado> nav > a{
        font-size: 18px;
    }

    nav{
        padding-top: 30px; /*60px*/
        padding-right: 30px;
    }
    .logo>img{
        width: 80px;
        height: 80px;
        margin-left: 20px;
        margin-top: 20px;
    }
}
@media only screen and (max-width:980px){
    .nombreMiembro{
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media only screen and (max-width:920px){
    #grillaMiembros{
        grid-template-areas: "foto1  foto2"
                             "texto1 texto2"
                             "foto3  foto4"
                             "texto3 texto4"
                             "foto5  foto6"
                             "texto5 texto6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 40px 300px 40px 300px 40px;
        grid-column-gap: 40px;
        margin-left: 80px;
        margin-right: 80px;
    }
}
@media only screen and (max-width:800px){
    #grillaMiembros{
        grid-column-gap: 35px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .encabezado> nav > a{
        font-size: 15px;
    }

    nav{
        padding-top: 20px; /*60px*/
        padding-right: 20px;
    }
    .logo>img{
        width: 70px;
        height: 70px;
        margin-left: 20px;
        margin-top: 20px;
    }
}
@media only screen and (max-width:740px){
    #grillaMiembros{
        grid-template-rows: 200px 30px 200px 30px 200px 30px;
        grid-column-gap: 30px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .nombreMiembro{
        font-size: 14px;
        line-height: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
    nav{
        padding-right: 15px;
    }
    nav>a{
        padding-left: 7px;
    }
}
@media only screen and (max-width:588px){
    #grillaMiembros{
        grid-template-rows: 190px 25px 190px 25px 190px 25px;
        grid-column-gap: 25px;
    }
    .nombreMiembro{
        font-size: 14px;
        line-height: 25px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media only screen and (max-width:480px){
    #grillaMiembros{
        grid-template-areas: "foto1"
                             "texto1"
                             "foto2"
                             "texto2"
                             "foto3"
                             "texto3"
                             "foto4"
                             "texto4"
                             "foto5"
                             "texto5"
                             "foto6"
                             "texto6";
        grid-template-columns: 1fr;
        grid-template-rows: 300px 40px 300px 40px 300px 40px 300px 40px 300px 40px 300px 40px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .nombreMiembro{
        font-size: 20px;
        line-height: 40px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media only screen and (max-width:400px){
    #grillaMiembros{
        grid-template-rows: 270px 40px 270px 40px 270px 40px 270px 40px 270px 40px 270px 40px;
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media only screen and (min-width:320px) and (max-width:350px){
    #grillaMiembros{
        grid-template-rows: 250px 40px 250px 40px 250px 40px 250px 40px 250px 40px 250px 40px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

/*------------------DISCOS------------------*/
#tituloDiscos{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-top: 30px;
}
#grillaDiscos{
    display: grid;
    grid-template-areas: "foto1    foto2    foto3   foto4   foto5"
                         "texto1   texto2   texto3  texto4  texto5"
                         "foto6    foto7    foto8   foto9   foto10"
                         "texto6   texto7   texto8  texto9  texto10";
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 220px 35px 220px 35px;
    margin: 60px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: 'Louis George Café', regular;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
}
#imgDisco1{
    grid-area: foto1;
    background-image: url(img/albumFF.jpg);
    background-size: cover;
    background-position: center;
}
#imgDisco2{
    grid-area: foto2;
    background-image: url(img/albumTCATS.jpg);
    background-size: cover;
    background-position: center;
}
#imgDisco3{
    grid-area: foto3;
    background-image: url(img/albumTINLTL.jpg);
    background-size: cover;
    background-position: center;
}
#imgDisco4{
    grid-area: foto4;
    background-image: url(img/albumOBO.jpg);
    background-size: cover;
    background-position: top;
}
#imgDisco5{
    grid-area: foto5;
    background-image: url(img/albumIYH.jpg);
    background-size: cover;
    background-position: center;
}
#imgDisco6{
    grid-area: foto6;
    background-image: url(img/albumESPG.jpg);
    background-size: cover;
    background-position: center;
}
#imgDisco7{
    grid-area: foto7;
    background-image: url(img/albumWL.jpg);
    background-size: cover;
    background-position: center;
}
#imgDisco8{
    grid-area: foto8;
    background-image: url(img/albumSH.jpg);
    background-size: cover;
    background-position: top;
}
#imgDisco9{
    grid-area: foto9;
    background-image: url(img/albumCAG.jpg);
    background-size: cover;
    background-position: center;
}
#imgDisco10{
    grid-area: foto10;
    background-image: url(img/albumMAM.jpg);
    background-size: cover;
    background-position: center;
}
.nombreDisco{
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
}
#nombMiem1{
    grid-area: texto1;
}
#nombMiem2{
    grid-area: texto2;
}
#nombMiem3{
    grid-area: texto3;
}
#nombMiem4{
    grid-area: texto4;
}
#nombMiem5{
    grid-area: texto5;
}
#nombMiem6{
    grid-area: texto6;
}
#nombMiem7{
    grid-area: texto7;
}
#nombMiem8{
    grid-area: texto8;
}
#nombMiem9{
    grid-area: texto9;
}
#nombMiem10{
    grid-area: texto10;
}



/*  MEDIA QUERIES  */
@media only screen and (max-width:1250){
    #tituloDiscos{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
 /*       font-family: 'Permanent Marker', cursive;*/
        font-size: 40px;
        margin-top: 30px;
    }
}
